.aside {
  margin: 60px 0 160px 0;
  &__leah {
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 60px;
    color: var(--Dober);
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__card {
    background: var(--White);
    border: 1px solid var(--SilberBlue);
    box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
    border-radius: 2px;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__item {
    margin: 40px 0 18px 32px;
    font-size: 15px;
    line-height: 19px;
    color: var(--Dober);
  }
  &__test {
    margin-left: 32px;
    font-size: 22px;
    line-height: 33px;
    color: var(--Dober);
  }
  &__tecst {
    margin: 29px 0 32px 32px;
    font-size: 19px;
    line-height: 35px;
    color: var(--Dober);
  }
}
@media (max-width: 1050px) {
  .aside {
    margin-bottom: 80px;
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__carde {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
@media (max-width: 700px) {
  .aside {
    &__leah {
      font-size: 30px;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__carde {
      grid-column-start: 1;
      grid-column-end: 1;
    }
    &__item {
      margin: 15px 0 15px 32px;
    }
    &__tecst {
      margin: 15px 0 15px 32px;
    }
  }
}
